.home-page {
    display: flex;
    flex-direction: column;
}

/* ========== FIRST SECTION ========== */

.home-container-first {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    /* border: 2px solid red; */
    min-height: 140vh;
    background-image: url('../assets/images/Tree.png');
    background-repeat: no-repeat;
    background-position: 95% 20%;
    background-size: 35vw;
}

.home-name {
    width: 100%;
    font-size: 11vw;     /* this will make the text naturally fill the width */
    /* border: 2px solid purple; */
    text-align: center;
}

.home-paragraph {
    align-self: flex-start;
    /* border: 2px solid green; */
    width: 65%;
    max-width: 500px;
}

/* ========== PROJECTS SECTION ========== */

.home-container-second {
    /* background-color: #FCEED1; */
    /* border: 2px solid blue; */
    min-height: 60vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 0px;
}

.second-title {
    margin: 0;
    margin-bottom: 50px;
    align-self: center;
}

.fan-card {
    align-self: center;
}

.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.projects {
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
    
}

.projects h2 {
    /* min-height: 70px; */
    margin: 0;
}

.project-item {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
}

/* ========== EDUCATION SECTION ========== */

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

.education-title {
    margin: 0;
    margin-bottom: 50px;
}

.education-container {
    max-width: 768px;
    display: flex;
    justify-content: center;
}

.education-sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
    min-width: 1000px;
}

/* .qualification__content-active {
    display: block;
} */

.education-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    transform: translate(6px, -7px);
    background-color: var(--primary-color);
}

/* .qualification__title {

} */

.education-card {
    /* border: 1px solid red; */
    border-radius: 15px;
    /* background-color: var(--secondary-color); */
    padding: 15px;
}


/* ========== ABOUT SECTION ========== */

.home-container-about {
    width: 65%;
    align-self: center;
    /* margin: 0; */
    margin: 50px 0;
}

.home-container-about * {
    margin: 0;
}

.about-title {
    display: flex;
    justify-self: center;
}

.home-container-about p {
    display: flex;
    justify-self: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    margin-top: 50px;
}

.about-image {
    width: 400px;
    height: auto;
    margin-right: 80px;
    border-radius: 35px;
}

.about-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 15px;
    padding: 5px;
}

.about-cards-container {
    display: flex;
    flex-direction: row;
    /* border: 2px solid purple; */
}

.about-cards {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    margin: 5px;
    background-color: var(--secondary-color);
    align-items: center;
    /* height: 100px; */
    /* transition: transform 0.2s ease; */
}

.about-cards:hover {
    transform: scale(1.1);
}

.about-cards h5,
.about-cards h3,
.about-cards p {
    margin: 10px 0;
}

.about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    background-color: var(--secondary-color);
}

.about-documents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.about-resume, .about-cv {
    display: flex;
    justify-self: center;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    /* transition: transform 0.2s ease; */
}

/* .about-resume:active {
    transform: scale(0.96);
} */

/* .about-resume::before, .about-resume::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 150%;
    border: 2px solid red;
} */

/* @media screen and (min-width: 2000px) {
    .project-item {
        width: 370px;
        margin: 2rem;
    }

    img {
        height: 320px;
    }
} */