@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=telma@300,400,500&display=swap');

:root {
  --primary-color: #845007;
  --secondary-color: #FCEED1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 32 32"><circle cx="16" cy="16" r="14" fill="none" stroke="brown" stroke-width="5"/></svg>'), auto;
}

*, a:hover, button:hover, a:active, button:active {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 32 32"><circle cx="16" cy="16" r="14" fill="none" stroke="brown" stroke-width="5"/></svg>'), auto;
}

/* ========== FONT CLASSNAMES ========== */

.telma-font {
  font-family: 'Telma', sans-serif;
}

.satoshi-font {
  font-family: 'Satoshi', sans-serif;
}


/* ========== OTHER CUSTOM CLASSES ========== */
.no-select {
  user-select: none;
}

.no-margin {
  margin: 0;
}


/* ========== BACKGROUND ========== */
#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Keeps the particles behind other content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.transition-main {
  transition: all 0.3s ease-in-out;
}
